<!-- <script type="text/javascript" src="../../../public/js/bioFunctions.js"></script>
<div class="form-bio-link" style="display: none;">
    <h4>Title & Description</h4>
    <div class="mb-3">
        <input required type="text" name="title" id="titleUrl"  placeholder="title" class="form-control">
    </div>
    <div class="mb-3">
        <input required type="text" name="Description" id="description"  placeholder="Description" class="form-control">
    </div>
    <h4>Destination</h4>
    <div class="mb-3">
        <input required type="url" name="destination" id="fullUrl"  placeholder="destination" class="form-control">
    </div>
    
    <div class="d-flex flex-row-reverse">
        <button id="btnSubmitUrl" type="button" onclick="btnAddUrl(this)" class="btn btn-primary ms-3">Submit</button>
        <button id="btnSaveUrl" type="button" onclick="btnEditUrl(this)" class="btn btn-primary ms-3" style="display: none;">Save</button>
        <button type="button" onclick="btnCancel(this)" class="btn btn-danger" value="url">Cancel</button>
    </div>
</div> -->