<header class="p-3 mb-3 border-bottom">
      <div class="d-flex justify-content-end flex-wrap align-items-center">
        <form class="col-12 col-lg-3 mb-3 mb-lg-0 me-lg-5" >
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search" id="search">
        </form>


        <div class="dropdown text-end me-3">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Change Password</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
  </header>