<div id="mySidenav" class="sidenav">
    <a href="#">Links</a>
    <a href="#">QR Code</a>
    <a href="#">Bio Link</a>
    <a href="#">Analytic</a>
    <a href="#">Subscription Plan</a>
    <a href="#">Custom Plan</a>
    <a href="#">Subscription History</a>
</div>