<div id="mySidenav" class="sidenav">
    <a href="/url">Links</a>
    <a href="/qr">QR Code</a>
    <a href="/biolink">Bio Link</a>
    <a href="/analytic">Analytic</a>
    <a href="/plan">Subscription Plan</a>
    <a href="/plan/custom">Custom Plan</a>
    <a href="/plan/history">Subscription History</a>
</div>