<div class="modal fade" id="modalPdf" tabindex="-1" aria-labelledby="modalPdfLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalPdfLabel">Add PDF</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:15px; width: 465px; height: auto;">
            <h4>Name</h4>
            <div class="mb-3">
                <input required type="text" name="pdf" id="pdfTitle" class="form-control">
            </div>
            <h4>Pdf File</h4>
            <div class="mb-3">
                <input type="hidden" name="pdf" id="pdfUrl">
                <input type="file" accept=".pdf" name="filepdf" id="filePdf" onchange="loadPdf(event, this)" class="form-control" key="">
                <div>
                    <p >Use .PDF (max 3.5MB) </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            
            <div class="d-flex flex-row-reverse w-100">
                <div>
                    <button id="btnSubmitPdf" type="button" class="btn btn-primary btnPdf" onclick="btnAddPdf(this)" value="" short="<%= data.short%>" disabled>Submit</button>
                    <button id="btnSavePdf" type="button" onclick="btnEditPdf(this)" class="btn btn-primary btnPdf" short="<%= data.short%>" style="display: none;">Save</button>
                </div>
            </div>
            
        </div>
    </div>
    </div>
</div>