/* body{
  margin-top:25px;
} */
.container{
    float: left;
}
h1{
    font-weight: bold;
    padding-bottom: 25px;
}
h2, h3, h4, h5, h6{
    font-weight: bold;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
.form-bio-link, .form-youtube{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #111;
  border-radius: 15px;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}
  
.previewContent {
  border-radius: 20px;
  height: 50rem;
  width: 30rem;
  overflow-y: scroll;
  
}
.previewContent::-webkit-scrollbar {
  display: none;
}
.contentBio{
  text-align: center;
  align-items: center;
}

.fullWidth{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.fullWidth::-webkit-scrollbar {
  display: none;
}

.contentBio{
  width: 75%;
  text-align: center;
  align-items: center;
  margin: auto;
}

.links{
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 0.3rem 0.4rem 0px;
  border-radius: 5px;
  background-color: #fff;
}
.contentList{
  margin-top: 25px;
  margin-bottom: 25px;
}

.background-preview {
  background-color: #f4f6fa;
  background-position: 50%;
  background-size: cover;
  border-radius: 0.4rem;
  padding: 3rem;
  color: #96a3bd;
  height: 7rem;
  width: 7rem;
  border: 0.1rem solid #dbe0eb;
  transition: color .4s,background-color .4s;
  cursor: pointer;
  border: none;
}

.preview{
  width: 150px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: 175px;
  background-color: beige;
  color: burlywood;
  border: 1px solid burlywood;
  font-weight: bold;
  padding-top: 3px;
}

.link-image{
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 4.6rem;
  width: 4.6rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2.3rem;
}

.link{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.75) 0.3rem 0.4rem 0px;
  border-radius: 2.3rem;
}

.link__content{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.75rem 0.8rem;
}

.link__content__title{
  line-height: 150%;
  font-size: 1.6rem;
}

.link__content__description{
  font-size: 1.3rem;
  line-height: auto;
  font-weight: 400!important;
}

.has-image{
  padding-inline: 5.1rem;
}

.btnRemovePicture{
  border: 1px solid lightcoral;
  color: red;
}

.btnRemovePicture:not(.bioEdit){
  margin-top: 50px; 
  margin-left: 20px;
}

.btnRemovePicture:hover{
  background-color: rgb(248, 62, 62);
  color:white;
}

.orb-avatar:not(.small):not(.card) {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 4.8rem;
}

.orb-avatar.image {
  background-color: initial;
  border: unset;
}

.orb-avatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 3.75rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: poiner;
  margin:auto;
  margin-top: 20px;
}

.youtubeLink {
  color: red;
}
.youtubeLink:hover{
  color:rgb(220, 3, 3)
}

.instagramLink{
  color: rgb(247, 0, 255);
}

.instagramLink:hover{
  color:rgb(215, 0, 223)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.card-home {
  width: 50em;
}
.btn-home{
  border-radius: 5px;
  border: 1px solid blue;
  text-decoration: none;
  color: blue;
  width:10em;
  text-align: center;
  align-items: center;
}

.a-home:hover{
  color: white;
  background-color: blue;
}

.smallWidth{
  width: 100%;
  height: 35vh;
  overflow-y: scroll;
  border-radius: 15px;
}

.smallWidth::-webkit-scrollbar {
  display: none;
}

.smallPreview{
  font-size: small;
}

.link-image-small{
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2.3rem;
}
.contentList-small{
  margin-top: 1em;
  margin-bottom: 1rem;
}

.link__content-small{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem 0.8rem;
}