<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parts/head/headLogin.ejs');%>
    <title>Register</title>
</head>
<body class="text-center" >
    <%- include('./parts/register.ejs');%>


</body>