<div id="mySidenav" class="sidenav">
    <a href="/admin">Users</a>
    <a href="/admin/service">Services</a>
    <a href="/admin/transaction">Transactions</a>
    <a href="/admin/plan">Subscription Plan</a>
</div>