<h4>Destination3</h4>
                <div class="mb-3">
                    <input required type="url" name="fullUrl" id="fullUrl"  placeholder="url" class="form-control" value="<%= data.full %>">
                </div>