<script type="text/javascript" src="../../../public/js/loginRegisterFunctions.js"></script>
<script type="text/javascript" src="../../../public/js/searchFunctions.js"></script>
<header class="p-3 mb-3 border-bottom">
      <div class="d-flex justify-content-end flex-wrap align-items-center">
        <% if(user){%>
          <div class="dropdown text-end me-3">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <%if(user.profile){%>
                <img src="<%=user.profile%>" alt="mdo" width="32" height="32" class="rounded-circle">
                <%}else{%>
                  <img src="https://storage.googleapis.com/url-shortener-storage/anonymous-user.png" alt="mdo" width="32" height="32" class="rounded-circle">
              <%}%>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" onclick="signOut(this)">Sign out</a></li>
            </ul>
          </div>
         <%}else{%>
           <div class="me-3">
            <a href="/login" class="btn btn-primary form-control mt-0" style="text-decoration: none; width: 5em;">Login</a>
            <a href="/register" class="btn btn-success form-control mt-0 ms-3" style="text-decoration: none; width: 5em;">Register</a>
           </div>
         <%}%>
      </div>
</header>